.container {
   width: 90%;
   max-width: 1320px;
   margin: auto;
}

@mixin easeOut {
   transition: all ease-out 0.5s;
}

li {
   list-style: none;
}

a {
   color: $dark-color;
   text-decoration: none;
}

.text-primary {
   color: $primary-color;
}

.btn {
   color: $light-color;
   font-size: 1.3rem;
   display: inline-block;
   padding: 0.5rem 6rem;
   border: none;
   outline: none;
   cursor: pointer;
   @include easeOut;
}

.btn {
   &-primary {
      @extend .btn;
      background-color: $primary-color;

      &:hover {
         background-color: lighten($primary-color, 5%);
      }
   }

   &-light {
      @extend .btn;
      background-color: $light-color;
      color: $primary-color;

      &:hover {
         background-color: darken($light-color, 5%);
      }
   }
}
