@import 'config';
@import 'utilities';
@import 'home';
@import 'about';
@import 'contact';
@import 'product';
@import 'success_page';
@import 'our_products';
@import 'order_now';
@import 'farm';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 17px;
   line-height: 1.6;
   background-color: $light-color;
   color: $dark-color;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
}

header {
   background-color: $primary-color;
   padding: 0.2rem 0;
   position: relative;

   .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .burger {
         cursor: pointer;
         position: absolute;
         left: 3%;
         display: none;
         z-index: 10;

         div {
            background: $light-color;
            margin: 0.3rem 0;
            width: 28px;
            height: 3px;
            @include easeOut;
         }

         &.close {
            .line-1 {
               transform: rotate(45deg) translate(5px, 5px);
            }
            .line-2 {
               opacity: 0;
            }
            .line-3 {
               transform: rotate(-45deg) translate(6px, -6px);
            }
         }
      }

      .logo {
         flex: 1;
         img {
            width: 120px;
            height: 110px;
         }
      }

      .nav-links {
         flex: 2;

         .nav {
            @include easeOut;
            ul {
               display: flex;
               align-items: center;
               justify-content: space-between;
               width: 100%;

               li {
                  a {
                     font-weight: bold;
                     color: $light-color;
                     font-size: 16px;
                     display: inline-block;
                     padding: 0.5rem 1rem;
                     @include easeOut;

                     &:hover {
                        background-color: lighten($primary-color, 5%);
                     }
                  }

                  &.order-now {
                     background-color: $light-color;

                     a {
                        color: $primary-color;

                        &:hover {
                           background-color: darken($light-color, 5%);
                        }
                     }
                  }
               }
               .home-mobile {
                  display: none;
               }
            }
         }
      }

      .order-now.mobile {
         background-color: $light-color;
         display: none;

         a {
            font-weight: bold;
            color: $primary-color;
            font-size: 16px;
            display: inline-block;
            padding: 0.5rem 1rem;
            @include easeOut;

            &:hover {
               background-color: lighten($primary-color, 5%);
            }
         }
      }
   }
}

.special-occasion {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0.5rem 0 1.5rem 0;

   h3 {
      color: $primary-color;
   }

   p {
      width: 80%;
      margin: 0.5rem auto;
      text-align: center;
   }
}

footer {
   background-color: $primary-color;
   color: $light-color;

   .first {
      background-color: lighten($primary-color, 5%);
      padding: 2rem 0;
      .footer {
         display: flex;
         align-items: center;
         justify-content: space-around;

         .logo {
            flex: 2;
            img {
               width: 150px;
               height: 150px;
            }
         }

         .links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            flex: 1;

            li {
               margin: 1rem 0;

               a {
                  color: $light-color;
                  font-size: 16px;
                  display: inline-block;
                  padding: 0.5rem 1rem;
                  @include easeOut;

                  &:hover {
                     background-color: $primary-color;
                  }
               }
            }
         }
      }
   }

   .second {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
   }
}

@import 'mobile';
